@import "bourbon";

@import "normalize";
@import "h5bp";
@import "helpers";
@import "print";

/*
 * Apply different sizing model
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
