/*
 * Videoplayer (constrained to aspect ration).
 * Optimized for Twitch.tv embeded player.
 *
 * http://alistapart.com/article/creating-intrinsic-ratios-for-video
 * http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
 */
.videoplayer__embed {
    width: 100%;            // Fill whole width of the parent element.
    padding-top: 56.25%;    // 9:16 = 0.5625 (for a 16:9 video). Padding is
                            //   calculated from the width of the element.
    // padding-bottom: 30px;   // Height of videoplayer UI chrome.
    height: 0;              // Padding is our height.
    overflow: hidden;       // Hide scrollbars, if they'll appear.
    position: relative;     // Give positioning context for children of this
                            //   element.

    object,
    embed,
    iframe {
        position: absolute; top: 0; left: 0; // Position itself over parent's padding.
        width: 100%; height: 100%;           // Fill all parent's area.
    }
}
